.pad-v-md {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pad-v-lg {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bg-gray-lightest {
  background-color: #fafafa;
}

hr {
  .space {
    margin: 40px auto;
    border: 0;
    background: transparent;
    height: 1px;
  }
}
