.hero {
  position: relative;
  background: linear-gradient(to bottom right, $color__brand-second, $color__brand-main);
  @include background-size(cover);
  h1 {
    color: $white;
    @include font-size(4);
  }
  p {
    color: $white;
    @include font-size(1.6);
  }
}

@media screen and (max-width: $phablet) {
  .hero {
    h1 {
      color: $white;
      font-size: 22px;
    }
    p {
      color: $white;
      font-size: 16px;
    }
  }
}

// .bg-test {
//   position: relative;
//   background: linear-gradient(to bottom right, $color__brand-second, $color__brand-main);
//   @include background-size(cover);
//   .blbl {
//     border: 2px solid $white;
//   }
// }
